* {
    box-sizing: border-box;

}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

header {
    height: 20%;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 1%;
    background-color: gray;
    border-bottom: 5px solid green;


}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 18px;
    width: 50%;
    float: right;


}

a {
    text-decoration: none;
    color: white;

}

.contant {
    height: 20%;
    width: 100%;
    border: 1px solid green;
    margin-bottom: 1%;
    display: flex;


}

.para {
    float: right;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    height: 55%;
    width: 100%;
    border: 2px solid black;
}

.footer {
    display: flex;
}

.onebox {
    height: 100%;
    width: 60%;
}
.twobox{
    height: 100%;
    width: 40%;
}
.imagofnews {
    height: 20%;
    width: 100%;
}